*{
    box-sizing: border-box;
    /*font-size:100%;*/
}
body{
    background: url('/About-me/sailboat.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    align-items:top;
    justify-content:right;
    height:100vh;
    position:relative;
    color:hsl(195, 1%, 22%);
}

.profile-card{
    position:relative;
    top:1.3rem;
    margin: 1.1rem auto;
    padding:.5rem;
    width:65%;
    /*max-width: calc(100vw - 10px);*/
    height:90vh;
    border: 2px;
    border-radius:10px;
    background-color: hsla(1, 1%, 100%, .3); 
}

.head, .content{
  margin: 0 auto;
  width:90%;
}

img{
  position:relative;
  left:calc(100% - 100px);
  width:100px;
  height:100px;
  margin-top: .5rem;
  border: 1px solid #000;
  border-radius: 50%;
  padding:1px;
  filter:grayscale(20%);
}

img:hover {
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
}
.name-headline{
  margin-top: .3rem;
  width:100%;
}

.name-headline h1{
  font-size: 1rem;
  font-family: 'Pacifico', cursive;
}
.name-headline h2{
  font-size: .9rem;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: .3rem;
}
.from{
  font-family: Arial, Helvetica, sans-serif;
  font-size: .8rem;
  margin-top: .3rem;
}

.content::before{
  display: inline-block;
  content: "";
  height: 1px;
  width:100%;
  background-color: hsl(195, 1%, 22%);
  margin:.9rem auto;
}

.about{
  font-family: Arial, Helvetica, sans-serif;
  font-size: .8rem;
  margin:.5rem auto;
  text-align: left;
  line-height: .9rem;
  width:100%;
}

.links{
  list-style-type: none;
  color:hsl(195, 1%, 22%);
  font-size: 1.1rem;
  margin-top:1.5rem;
}
.links li{
  display: inline;
  margin-top: .3rem;
}
.links li a{
  color:hsl(195, 1%, 22%);
  padding-right:.5rem;
  text-decoration: none;
}
.links li a :hover{
  color:hsl(195, 1%, 40%);
}

@media screen and (min-width: 560px){
  .profile-card{
    margin:1.5rem 8% 1.5rem auto;
    width:50%;
  }
  
  .name-headline h1{
    font-size: 1.5rem;
  }
  .name-headline h2{
    font-size: 1.2rem;
  }
  .from{
    font-size: 1.2rem;
  }
  .about{
    font-size: .9rem;
    line-height: 1rem;
  }
  .links{
    font-size: 1.5rem;
  }
}
@media screen and (min-width:640px){
  .profile-card{
    margin:1.5rem 8% 1.5rem auto;
    width:45%;
  }
}
@media scree and (min-width:830px){
  .profile-card{
    width:30%;
  }
}
@media screen and (min-width:940px){
  .profile-card{
    width:40%;
  }
  .name-headline h1{
    /*font-size: 2rem;*/
    margin-left:5%;
  }
  .name-headline h2{
    margin-left: 5%;
    margin-top: .5rem;
    /*font-size: 1.5rem;*/
  }
  .from{
    margin-left: 5%;
    margin-top: .5rem;
  }
  .content::before{
  width:90%;
  margin:.9rem auto;
  margin-left:5%;
 }
 .about{
   font-size: 1rem;
   line-height: 1.2rem;
 }
}
@media screen and (min-width:1300px){
  .profile-card{
    width:30%;
  }
}